<?xml version="1.0" encoding="UTF-8"?>
<!--
This is a console only logger as default. It is helpful to avoid same log files for multi tutorial applications.

You could setup your own log4j2 file, by e.g.-Dlog4j.configurationFile=log4j2_config_file_sys_path_or_class_path

-->
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  
  <Loggers>
    <Root level="info">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>