<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="app_name">orderbook</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!--
            section : Rollover Strategies of  https://logging.apache.org/log4j/2.x/manual/appenders.html
            the bufferSize does not work, since immediateFlush is true(as default)
        -->
        <RollingFile name="RollingFile"
                     fileName="log/${app_name}.log"
                     filePattern="logarchive/${app_name}-%d{MM-dd-yyyy}.log.gz"
                     ignoreExceptions="false"
                     immediateFlush="true"
                     bufferSize="8192000">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <TimeBasedTriggeringPolicy />
        </RollingFile>

        <!-- https://logging.apache.org/log4j/2.x/manual/async.html -->
        <!--
        <RandomAccessFile name="RandomAccessFile" fileName="log/${app_name}_async.log" immediateFlush="false" append="false">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
        </RandomAccessFile>

        <Async name="Async" bufferSize="8192000">
            <AppenderRef ref="RollingFile"/>
            <LinkedTransferQueue/>
        </Async>
        -->
    </Appenders>

    <Loggers>

        <Root level="info">
<!--
            <AppenderRef ref="Console"/>
-->
            <AppenderRef ref="RollingFile"/>

        </Root>
    </Loggers>
</Configuration>