<html ng-app = "mainApp">
   
   <head>
      <title>Angular JS Table</title>
       <!-- why not https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js?
       google is blocked by great wall

       TODO : why not /ajax.libs.angularjs.1.4.3/angular.min.js? But /jquery.dev.3.3.1/jquery-3.3.1.js?

       -->
       <script src = "/ajax/libs/angularjs/1.4.3/angular.min.js"></script>

       <!-- LOAD JQUERY as mentioned in https://scotch.io/tutorials/submitting-ajax-forms-the-angularjs-way -->
       <!-- when building an angular app, you generally DO NOT want to use jquery -->
       <!-- we are breaking this rule here because jQuery's $.param will help us send data to our PHP script so that PHP can recognize it -->
       <!-- this is jQuery's only use. avoid it in Angular apps and if anyone has tips on how to send data to a PHP script w/o jQuery, please state it in the comments -->
       <script src = "/jquery.dev.3.3.1/jquery-3.3.1.js"></script>

      <style>
         table, th , td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
         }
         
         table tr:nth-child(odd) {
            background-color: #f2f2f2;
         }
         
         table tr:nth-child(even) {
            background-color: #ffffff;
         }
      </style>
      
   </head>
   <body>
        <h2>Aggregated Order Book</h2>

        <table>
            <tr>
                <td  align="middle" valign="top">
                    <div ng-controller = "order_book_table_USDJPY">
                        <table>
                            <tr colspan="2">Symbol:{{order_book.symbol}}</tr>
                            <tr>
                                <td style="width:130px" align="center">Buy</td><td  style="width:130px" align="center">Sell</td>
                            </tr>
                            <tr>
                                <td align="right" valign="top">
                                    <table>
                                        <tr ng-repeat = "(price, qty) in order_book.order_book._bidBookMap">
                                            <!--
                                            https://docs.angularjs.org/api/ng/filter/number
                                            https://stackoverflow.com/questions/36091421/how-to-add-thousand-separating-commas-for-numbers-in-angularjs
                                            -->
                                            <td align="right">{{ qty | number : 0}}</td>
                                            <td>{{ price }}</td>

                                        </tr>
                                    </table>
                                </td>
                                <td align="left" valign="top">
                                    <table>
                                        <tr ng-repeat = "(price, qty) in order_book.order_book._offerBookMap">
                                            <td>{{ price }}</td>
                                            <td align="right">{{ qty | number : 0}}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>


                <td align="middle" valign="top">
                    <!-- TODO remove duplicate code with order_book_table_USDJPY -->
                    <div ng-controller = "order_book_table_USDHKD">
                        <table>
                            <tr colspan="2">Symbol:{{order_book.symbol}}</tr>
                            <tr>
                                <td style="width:130px" align="center">Buy</td><td  style="width:130px" align="center">Sell</td>
                            </tr>
                            <tr>
                                <td align="right" valign="top">
                                    <table>
                                        <tr ng-repeat = "(price, qty) in order_book.order_book._bidBookMap">
                                            <!--
                                            https://docs.angularjs.org/api/ng/filter/number
                                            https://stackoverflow.com/questions/36091421/how-to-add-thousand-separating-commas-for-numbers-in-angularjs
                                            -->
                                            <td align="right">{{ qty | number : 0}}</td>
                                            <td>{{ price }}</td>

                                        </tr>
                                    </table>
                                </td>
                                <td align="left" valign="top">
                                    <table>
                                        <tr ng-repeat = "(price, qty) in order_book.order_book._offerBookMap">
                                            <td>{{ price }}</td>
                                            <td  align="right">{{ qty | number : 0}}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>

            </tr>

        </table>


        <h2>Detail Order Book</h2>

        <table>
            <tr>
                <td  align="middle" valign="top">
                    <div ng-controller = "detail_order_book_table_USDJPY">
                        <table>
                            <tr colspan="2">Symbol:{{detail_order_book.symbol}}</tr>
                            <tr>
                                <td style="width:130px" align="center">Buy</td><td  style="width:130px" align="center">Sell</td>
                            </tr>
                            <tr>
                                <td align="right" valign="top">
                                    <table>
                                        <tr ng-repeat = "(price, ordList) in detail_order_book.detail_order_book._bidBookMap">
                                            <!--
                                            https://docs.angularjs.org/api/ng/filter/number
                                            https://stackoverflow.com/questions/36091421/how-to-add-thousand-separating-commas-for-numbers-in-angularjs
                                            -->
                                            <td align="right">
                                                <table>
                                                    <tr ng-repeat = "ord in ordList">
                                                        <td>{{ ord._clientName }}</td><td>{{ ord._leavesQty }}</td>
                                                    </tr>
                                                </table>

                                            </td>
                                            <td>{{ price }}</td>

                                        </tr>
                                    </table>
                                </td>
                                <td align="left" valign="top">
                                    <table>
                                        <tr ng-repeat = "(price, ordList) in detail_order_book.detail_order_book._offerBookMap">
                                            <td>{{ price }}</td>
                                            <td align="right">{{ qty | number : 0}}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>


                <td align="middle" valign="top">
                    <!-- TODO remove duplicate code with detail_order_book_table_USDJPY -->
                    <div ng-controller = "detail_order_book_table_USDHKD">
                        <table>
                            <tr colspan="2">Symbol:{{order_book.symbol}}</tr>
                            <tr>
                                <td style="width:130px" align="center">Buy</td><td  style="width:130px" align="center">Sell</td>
                            </tr>
                            <tr>
                                <td align="right" valign="top">
                                    <table>
                                        <tr ng-repeat = "(price, qty) in order_book.order_book._bidBookMap">
                                            <!--
                                            https://docs.angularjs.org/api/ng/filter/number
                                            https://stackoverflow.com/questions/36091421/how-to-add-thousand-separating-commas-for-numbers-in-angularjs
                                            -->
                                            <td align="right">{{ qty | number : 0}}</td>
                                            <td>{{ price }}</td>

                                        </tr>
                                    </table>
                                </td>
                                <td align="left" valign="top">
                                    <table>
                                        <tr ng-repeat = "(price, qty) in order_book.order_book._offerBookMap">
                                            <td>{{ price }}</td>
                                            <td  align="right">{{ qty | number : 0}}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>

            </tr>

        </table>

        <br>
        <br>
        <br>
      <div ng-controller="placeOrderDiv">

          <form ng-submit="processOrderForm()">
              Act as
              <!-- //http://www.runoob.com/angularjs/angularjs-select.html -->
              <select
                      ng-init="orderData.selectedName = orderData.clientEntityNames[0]"
                      ng-model="orderData.selectedName"
                      ng-options="x for x in orderData.clientEntityNames">
              </select>
              <table>
                  <tr>
                      <td>ccy pair</td>
                      <td>
                        <select
                                ng-init="orderData.ccypair = orderData.ccypair_list[0]"
                                ng-model="orderData.ccypair"
                                ng-options="x for x in orderData.ccypair_list">
                      </td>
                  </tr>
                  <tr>
                      <td>price</td>
                      <td>
                          <input type="text" name="price" class="form-control" placeholder="120"
                                 ng-model="orderData.price">
                      </td>
                  </tr>
                  <tr>
                      <td>qty</td>
                      <td>
                          <input type="text" name="price" class="form-control" placeholder="5000"
                                 ng-model="orderData.qty">
                      </td>
                  </tr>
                  <tr>
                      <td>side</td>
                      <td>
                          <select
                                  ng-init="orderData.side = orderData.side_list[0]"
                                  ng-model="orderData.side"
                                  ng-options="x for x in orderData.side_list">
                          </select>

                      </td>
                  </tr>

                  <tr>
                      <td>side
                          <button type="submit" class="btn btn-success btn-lg btn-block">
                              <span class="glyphicon glyphicon-flash"></span> Submit!
                          </button>
                       </td>
                  </tr>

              </table>
          <br>

          TODO : support to input the order by clicking related orderbook<BR>
          </form>
      </div>

      <div ng-controller="order_book_plain">
          <p>The order book is: {{order_book}}</p>
      </div>
      <script>

         var mainApp = angular.module("mainApp", []);


        //***************Place Order***************************
        //https://scotch.io/tutorials/submitting-ajax-forms-the-angularjs-way
         mainApp.controller('placeOrderDiv', function($scope, $http) {

            $scope.orderData={};
            $scope.orderData.clientEntityNames = ["BankA", "BankB", "BankC"];
            $scope.orderData.ccypair_list = ["USDJPY", "USDHKD"];
            $scope.orderData.side_list = ["Bid", "Offer"];
            $scope.orderData.price=121.5;
            $scope.orderData.qty=5100;


            $scope.processOrderForm = function() {

                  var data = $.param({

                        client_entity : $scope.orderData.selectedName,
                        symbol : $scope.orderData.ccypair,
                        qty  : $scope.orderData.qty,
                        price: $scope.orderData.price,
                        side : $scope.orderData.side,

                  }); //$.param is from jQuery

                  $http({
                          method  : 'POST',
                          url     : '/matching/place_order',
                          data    : data ,
                          headers : { 'Content-Type': 'application/x-www-form-urlencoded' }  // set the headers so angular passing info as form data (not request payload)
                         })
                  .success(function(data) {
                        console.log(data);

                        if (!data.success) {
                          // if not successful, bind errors to error variables
                          $scope.errorName = data.errors.name;
                          $scope.errorSuperhero = data.errors.superheroAlias;
                        } else {
                          // if successful, bind success message to message
                          $scope.message = data.message;
                        }
                  });
            };
         });


        //***************OrderBook***************************


        function refreshOrderBook($url, $scope, $http, $interval){
            //$interval - http://tutorials.jenkov.com/angularjs/timeout-interval.html
            tmpFunc = function(){
                            $http.get($url).
                                then(function(response) {
                                    $scope.order_book = response.data;
                                });
                      };
            tmpFunc();
            $interval(tmpFunc, 2000); //every 2 seconds

        }

        mainApp.controller('order_book_table_USDJPY', function($scope, $http, $interval) {

            refreshOrderBook('/matching/query_order_book', $scope, $http, $interval);
        });

        mainApp.controller('order_book_table_USDHKD', function($scope, $http, $interval) {

            refreshOrderBook('/matching/query_order_book?symbol=USDHKD', $scope, $http, $interval);

        });


        //**************detail order book TODO: remove duplicate code with order book********

        function refreshDetailOrderBook($url, $scope, $http, $interval){
            //$interval - http://tutorials.jenkov.com/angularjs/timeout-interval.html
            tmpFunc = function(){
                            $http.get($url).
                                then(function(response) {
                                    $scope.detail_order_book = response.data;
                                });
                      };
            tmpFunc();
            $interval(tmpFunc, 2000); //every 2 seconds

        }

        mainApp.controller('detail_order_book_table_USDJPY', function($scope, $http, $interval) {

            refreshDetailOrderBook('/matching/query_detail_order_book?symbol=USDJPY', $scope, $http, $interval);
        });

        mainApp.controller('detail_order_book_table_USDHKD', function($scope, $http, $interval) {

            refreshDetailOrderBook('/matching/query_detail_order_book?symbol=USDHKD', $scope, $http, $interval);

        });

        mainApp.controller('order_book_plain', function($scope, $http) {
            $http.get('/matching/query_order_book').
                then(function(response) {
                    $scope.order_book = response.data;
                });
        });




      </script>
      
   </body>
</html>