<html ng-app = "mainApp">
   
   <head>
      <title>Angular JS Table</title>
       <!-- why not https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js?
       google is blocked by great wall
       -->
       <script src = "/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
      <style>
         table, th , td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
         }
         
         table tr:nth-child(odd) {
            background-color: #f2f2f2;
         }
         
         table tr:nth-child(even) {
            background-color: #ffffff;
         }
      </style>
      
   </head>
   <body>
        <h2>Order Book</h2>

        <table>
            <tr>
                <td  align="middle" valign="top">
                    <div ng-controller = "order_book_table_USDJPY">
                        <table>
                            <tr colspan="2">Symbol:{{order_book.symbol}}</tr>
                            <tr>
                                <td style="width:130px" align="center">Buy</td><td  style="width:130px" align="center">Sell</td>
                            </tr>
                            <tr>
                                <td align="right" valign="top">
                                    <table>
                                        <tr ng-repeat = "(price, qty) in order_book.order_book._bidBookMap">
                                            <!--
                                            https://docs.angularjs.org/api/ng/filter/number
                                            https://stackoverflow.com/questions/36091421/how-to-add-thousand-separating-commas-for-numbers-in-angularjs
                                            -->
                                            <td align="right">{{ qty | number : 0}}</td>
                                            <td>{{ price }}</td>

                                        </tr>
                                    </table>
                                </td>
                                <td align="left" valign="top">
                                    <table>
                                        <tr ng-repeat = "(price, qty) in order_book.order_book._offerBookMap">
                                            <td>{{ price }}</td>
                                            <td align="right">{{ qty | number : 0}}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>


                <td align="middle" valign="top">
                    <!-- TODO remove duplicate code with order_book_table_USDJPY -->
                    <div ng-controller = "order_book_table_USDHKD">
                        <table>
                            <tr colspan="2">Symbol:{{order_book.symbol}}</tr>
                            <tr>
                                <td style="width:130px" align="center">Buy</td><td  style="width:130px" align="center">Sell</td>
                            </tr>
                            <tr>
                                <td align="right" valign="top">
                                    <table>
                                        <tr ng-repeat = "(price, qty) in order_book.order_book._bidBookMap">
                                            <!--
                                            https://docs.angularjs.org/api/ng/filter/number
                                            https://stackoverflow.com/questions/36091421/how-to-add-thousand-separating-commas-for-numbers-in-angularjs
                                            -->
                                            <td align="right">{{ qty | number : 0}}</td>
                                            <td>{{ price }}</td>

                                        </tr>
                                    </table>
                                </td>
                                <td align="left" valign="top">
                                    <table>
                                        <tr ng-repeat = "(price, qty) in order_book.order_book._offerBookMap">
                                            <td>{{ price }}</td>
                                            <td  align="right">{{ qty | number : 0}}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>

            </tr>

        </table>



        <br>
        <br>
        <br>
      <div ng-controller="placeOrderDiv">

          Act as
          <select ng-init="selectedName = clientEntityNames[0]" ng-model="selectedName" ng-options="x for x in clientEntityNames">
          </select>
          <table>
              <tr>
                  <td>ccy pair</td>
                  <td>
                    <select ng-init="ccypair = ccypair_list[0]" ng-model="ccypair" ng-options="x for x in ccypair_list">
                  </td>
              </tr>
              <tr>
                  <td>price</td><td>120</td>
              </tr>
              <tr>
                  <td>qty</td><td>1000000</td>
              </tr>
              <tr>
                  <td>side</td>
                  <td>
                      <!-- https://docs.angularjs.org/api/ng/directive/select -->
                      <select name="singleSelect" ng-model="data.singleSelect">
                        <option value="Bid">Bid</option>
                        <option value="Offer">Offer</option>
                      </select>
                  </td>
              </tr>


          </table>
          <br>
          TODO : support to input the order by clicking related orderbook<BR>
      </div>

      <div ng-controller="order_book_plain">
          <p>The order book is: {{order_book}}</p>
      </div>
      <script>

         var mainApp = angular.module("mainApp", []);

        //http://www.runoob.com/angularjs/angularjs-select.html
         mainApp.controller('placeOrderDiv', function($scope) {
            $scope.clientEntityNames = ["BankA", "BankB", "BankC"];
            $scope.ccypair_list = ["USDJPY", "USDHKD"];
        });

        mainApp.controller('order_book_table_USDJPY', function($scope, $http) {
            $http.get('/matching/query_order_book').
                then(function(response) {
                    $scope.order_book = response.data;
                });
        });
        mainApp.controller('order_book_table_USDHKD', function($scope, $http) {
            $http.get('/matching/query_order_book?symbol=USDHKD').
                then(function(response) {
                    $scope.order_book = response.data;
                });
        });

        mainApp.controller('order_book_plain', function($scope, $http) {
            $http.get('/matching/query_order_book').
                then(function(response) {
                    $scope.order_book = response.data;
                });
        });

      </script>
      
   </body>
</html>